<<<<<<< HEAD
body
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.main
{
    background-color: tan;
 display: flex;
 flex-direction: row;
}

.header
{
    color:white;
 background-color: saddlebrown;
}
.footer
{
    background-color: saddlebrown;
}
.online
{
    position: absolute;
    color:white;
    padding: 20px;
    padding-left:  20px;
    padding-right: 80px;
    background-color: saddlebrown;
}

.rightmain
{
    height:500;
    width:60%;
}

.footTXT
{
    font-weight: lighter;
    color:white;
    font-size: 15px;;
}
.db
{
    font-weight: lighter;
    font-size: 15px;
}
.list
{
    font-style: normal;
    font-weight: lighter;
}
.img
{
    transform: scaleX(-1);
    height: 500px;
}
.leftmain
{
    height:500;
    width:40%;
}
=======
body
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.main
{
    background-color: tan;
 display: flex;
 flex-direction: row;
}

.header
{
    color:white;
 background-color: saddlebrown;
}
.footer
{
    background-color: saddlebrown;
}
.online
{
    position: absolute;
    color:white;
    padding: 20px;
    padding-left:  20px;
    padding-right: 80px;
    background-color: saddlebrown;
}

.rightmain
{
    height:500;
    width:60%;
}

.footTXT
{
    font-weight: lighter;
    color:white;
    font-size: 15px;;
}
.db
{
    font-weight: lighter;
    font-size: 15px;
}
.list
{
    font-style: normal;
    font-weight: lighter;
}
.img
{
    transform: scaleX(-1);
    height: 500px;
}
.leftmain
{
    height:500;
    width:40%;
}
>>>>>>> ad31ba751cd06385000f42c7c42cfab52f64e1ea
