@font-face {
    font-family: 'CONSOLA';
    src: url('Resources/CONSOLA.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'CONSOLA';
    src: url('Resources/CONSOLA.TTF') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'CONSOLA';
    src: url('Resources/CONSOLAB.TTF') format('truetype');
    font-weight: 700; 
}




html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    font-family: 'CONSOLA', monospace, sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    color: white;
    scroll-behavior: smooth;
    scrollbar-width: none;
    animation: Open 1s ease;
}
html
{
    background-color: #0d0d0d;

}
body {
    display: flex;
    flex-direction: column; 
    min-width: 100%;
    min-height: 100%;

}

/*Div Elements*/
.Header {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #111111;
    width: 100%;
    height: 75px;
    margin-top: -14px;
    position: fixed;
    box-shadow: 0px 0px 30px black;
    display: flex;
    z-index: 100;
}
.HeaderRight
{
    width:10%;
    display:flex;
    flex-direction:row;
}
.HeaderLeft
{
    width: 80%;
}
.center
{
    justify-content: center;
    align-items: center;
    display: flex;
}
.search {
    justify-content: center;
    gap:10%;
    margin-top: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 0px;
    width: 100%;
    position: fixed;
    left: 0; 
}
.space
{
    height: 100px;
}
.main {
    width: 90%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.Project
{
    align-items: center;
    width: 100%;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 4px 5px 0px rgb(0, 0, 0);
    background-color: #1b1b1b;
    transition: 0.5s ease;
}

.Project:hover
{
    background-color: #353535;
    box-shadow: 0px 4px 10px 0px rgb(39, 39, 39);
    border-radius: 15px;
    margin-left: 10px;

}

.ProjectLeft
{
    padding-left: 10%;
    text-align: left;
    width: 40%;
}

.ProjectRight
{
    padding-right: 10%;
    text-align: right;
    width: 60%;
}

.AProject
{
    text-decoration: none;
}
.footerLeft
{
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 5px; 
    text-align: center;
    width: 10%;
}

.footerMiddle
{
    padding: 20px; 
    width: 40%;
}
.footerRight
{
    width: 40%;
    padding: 20px;
}
.footer
{
    gap:20px;
    display: flex; 
    bottom: 0;
    background-color: #111111; 
    width: 100%; 
    z-index: 4; 
    padding-bottom: 5px;
    box-shadow: 0px 0px 30px black 
}

.footerRight h3
{
    width: 100%;
    text-align: center;
}
.footerMiddle h3
{
    width: 100%;
    text-align: center;
}
.footerLeft h3
{
    width: 100%;
    text-align: center;
}
.footerLeftMiddle
{
    display: flex;
    flex-direction: row;
    
}
/*Text Elements*/

.Paragraph
{
    list-style: disc;
    color:gray;
    padding: 20px;
}

.Ahref
{
    color:gray;
    transition: 0.5s ease;
    width:fit-content;
    text-transform: uppercase; 
    text-decoration: none; 
    letter-spacing: 2px;
}
.Ahref:hover
{
    transform:scale(1.2);
}
p

{
    color:gray;
}

.TextBox
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


h1 {
    font-size: 40px;
    text-transform: uppercase;
    transition: 0.5s ease;
    display: inline-block;
    width:fit-content;
    padding: 10px 0px;
}

h1:hover
{
    color:rgb(255, 144, 116);
    text-shadow: 0px 5px 3px rgb(0, 0, 0);
    margin-left: 15px;
    transform: rotate(-1deg);
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:white;
}
h3 
{
    font-size: 20px;
    width:fit-content;
    
    color:white;
    transition: 0.5s ease;
}
h3:hover
{
    color:rgb(255, 144, 116);
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    transform:translateX(2px)
}
h4
{
    font-size: 16px;
    width:fit-content;
    color:#808080;
    text-transform:uppercase;
    transition: 0.5s ease;
}
/*Other Elements*/

hr {
    border-color: white;
    border-radius: 200px;
    width: 100%;
}
.button
{
   width: 100px; 
   height: 25px;
   background-color: rgb(75, 75, 75); 
   border-radius: 10px;
   transition: 0.2s ease;
   color:white;
   border-width: 1px;
}
.button:hover
{
    color:rgb(250, 250, 250);
    background-color: rgb(49, 49, 49); 
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
}
/*Image Elements*/

.logo
{
    margin-top:0px;
    height: 100px;
    transition: 0.5s ease;
    padding: 20px;
    border-color: white;
    border-bottom-style: inset;
}

.logo:hover
{
    margin-top:20px;
    border-color: aqua;
}

.blueprint
{
    width: 100%; 
    height: 400px; 
    border-radius: 10px;
}

.gif3
{
    filter:brightness(30%);
    width: 200px;
}

/*Variables*/

.Variables
{
    width: 100%;
    border-color: gray;
    border-style: groove;
    border-width: 1px;
    border-radius: 20px;
    border-collapse: collapse;
}

.Variable
{
    gap: 10%;
}

td
{
    padding: 10px;
}

tr
{
    border-color: white;
}

tr:nth-child(odd) 
{
    background-color: hsl(0, 0%, 10%);
}
  
tr:nth-child(even)
{
    background-color: #272727;
}

.Bool
{
    width: 20px;
    height: 10px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.473);
    background-color: rgb(78, 1, 1);
}

.Float
{
    width: 20px;
    height: 10px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(5, 36, 2, 0.897); 
    background-color: rgb(53, 163, 43);
}

.Vector
{
    width: 20px;
    height: 10px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(22, 22, 0, 0.897); 
    background-color: rgb(250, 227, 22);
}

.String
{
    width: 20px;
    height: 10px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(22, 0, 16, 0.897); 
    background-color: rgb(250, 22, 201);
}


/*Keyframes*/

@keyframes OpenUpSearch 
{
    0%{height: 0px;}
    100%{height: 200px;}
}
@keyframes CloseSearch 
{
   
    0%{height: 200px;}
    100%{height: 0px;}
}
@keyframes HeaderFadeOutShadow
{
    0%{
        padding-bottom: 0px;
    }
    100%{
        padding-bottom: 200px;
    }
}
@keyframes HeaderFadeInShadow
{
    0%{
        padding-bottom: 200px;
    }
    100%{
        padding-bottom: 0px;
    }
}

@keyframes ClickHome
{
    0%{
        margin-left: 0px;
    }
    50%{
        margin-left: 15px;
    }
    100%{
        margin-left: 0px;
    }
}

@keyframes clickbutton
{
    0%
    { 
    }
    50%
    {
        background-color: rgb(26, 26, 26);
        transform: scale(2);
        border-radius: 55px;
        border-color: #ec8787;
        color:#ec8787;;
    }
    100%
    {
    }
}

@keyframes clickbutton2
{
    0%
    { 
    }
    50%
    {
        background-color: rgb(26, 26, 26);
        transform: scale(1.1);
        border-radius: 55px;
        border-color: #ec8787;
        color:#ec8787;;
    }
    100%
    {
    }
}


@keyframes Open
{
    0%{
        filter:saturate(0%);
        
    }
    100%{
        filter:saturate(100%);
    }
}






/*Media*/


@media only screen and (max-width: 900px) {
    .HeaderLeft
{
    width: 75%;
}

.logo
{
    height: 80px;
}

.search {
    justify-content: center;
    gap:10%;
    margin-top: 75px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 0px;
    width: 100%;
    position: fixed;
    left: 0; 
}


}

@media only screen and (max-width: 750px) {
    .HeaderLeft
{
    width: 65%;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.5s ease;
    display: inline-block;
    width:fit-content;
    padding: 0px 0px;
}


.search {
    justify-content: center;
    gap:8%;
    margin-top: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 0px;
    width: 100%;
    position: fixed;
    left: 0; 
}
.logo
{
    height: 60px;
}
  }


@media only screen and (max-width: 600px) {
    .HeaderLeft
{
    width: 65%;
}

h1 {
    font-size: 25px;
    text-transform: uppercase;
    transition: 0.5s ease;
    display: inline-block;
    width:fit-content;
    padding: 0px 0px;
}

.search {
    justify-content: center;
    gap:5%;
    margin-top: 80px;
    
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 0px;
    width: 100%;
    position: fixed;
    left: 0; 
}


.logo
{
    margin-top:0px;
    height: 60px;
    transition: 0.5s ease;
    padding: 10px;
    border-bottom-style: groove;
}

.logo:hover
{
    margin-top:20px;
    border-color: aqua;
}

.gif3
{
    filter:brightness(31%);
    width: 150px;
}

.footerLeft
{
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
    text-align: center;
    width: 90%;
    padding: 0px;
}

.footerMiddle
{
    padding: 0px;
    width: 90%;

}

.footerRight
{
    padding: 0px;
        width: 90%;
}
.footer
{
    align-items: center;
    gap:50px;
    display: flex; 
    bottom: 0;
    background-color: #111111; 
    flex-direction: column;
    width: 100%; 
    z-index: 4; 
    padding-bottom: 5px;
    box-shadow: 0px 0px 30px black 
}
.footerLeftMiddle
{
    display: flex;
    flex-direction: row;
    
}
  }

  @media only screen and (max-width:400px) {
    
    .gif3
    {
        filter:brightness(31%);
        width: 130px;
    }

  }