body, html {
    background-color: #0d0d0d;
    font-family: Consolas;
    color: white;
    display: flex;
    flex-direction: column;
    animation: margintop20-0 0.5s ease;
    z-index: -1 ;

}
.Header {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #0a0a0a;
    width: 100%;
    height: 75px;
    box-shadow: 0px 0px 30px #151515;
    margin-left: -8px;
    padding-right: 8px;
    font-size: 10px;
    margin-top: -22px;
    position: absolute;
    display: flex;
    z-index: 100;
}

.HeaderR
{
    width:10%;
    display:flex;
    flex-direction:row;
}
.HeaderL 
{
    width: 80%;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: opacity0-100 0.5s;

}
.main2 {
    margin: 0 auto;
    text-align: center;
    display: block;
    text-shadow: 0px 0px 2px gray;
    font-size: 10px;
    width: 100%;
}
.h2
{
    text-align: center;
    text-shadow: 0px 0px 5px gray;
    font-size: 50px;
    transition: color 0.3s, font-size 0.4s, text-shadow 0.5s;
}
.h2:hover 
{
    text-shadow: 0px 0px 10px #bdf9ff;
    font-size: 52.5px;
    color: #6aedff;
}

h3 {
    text-align: center;
    text-shadow: 0px 0px 2px gray;
    font-size: 20px;
    transition: color 0.3s, font-size 0.4s, text-shadow 0.5s;
}
h4 {
    text-align: center;
    text-shadow: 0px 0px 2px gray;
    font-size: 15px;
    transition: color 0.3s, font-size 0.4s, text-shadow 0.5s;
}

a 
{
    color: white;
}
.border 
{
    text-align:center;
    box-shadow: 0px 0px 10px 1px #5c5c5c;
    background-color: #5c5c5c;
    width: 120px;
    transition: padding 0.3s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 44px 44px;
    margin: 0 auto;
}
.border:hover 
{
    padding-inline: 20px;
    color:#6aedff ;
}

.Box {
    position: absolute;
    color: white;
    width: 100%;
    height: 80.22px;
    box-shadow: 0px 0px 10px #2e2e2e;
    margin-left: -8px;
    transition: background-color 0.2s;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.Box:hover {
    background-color: #5c5c5c;
}
.Interior {
    margin: 0 auto;
    width: 500px;
    font-size: 10px;
}
.pai,ex,prog
{
    position:absolute;
    width:100%;
}
.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    transition: 0.5s ease;
}

.button {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4px gray;
    border-color: transparent;
    box-shadow: 0px 0px 10px 1px #5c5c5c;
    background-color: #5c5c5c;
    width: 120px;
    margin: 0px;
    font-size: 15px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 44px 44px;
    height: 21px;
}

.Buttons:hover {
    color: white;
    width: 100%;
    text-shadow: 0px 0px 10px 1px #6aedff;
    gap: 40px;
}

.button:hover {
    color: white;
    text-shadow: 0px 0px 10px 1px #6aedff;
}



.dot {
    box-shadow: 0px 0px 55px 1px blue;
    z-index: -1;
    position: fixed;
    height: 250px;
    width: 250px;
    background-color: #b2cbe1;
    border-radius: 50%;
    display: inline-block;
    animation: movement ease-in-out 15s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}
.dot2 {
    margin: 50px;
    box-shadow: 0px 0px 55px 1px black;
    z-index: -2;
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: #263335;
    border-radius: 50%;
    display: inline-block;
}
.dot3 {
    margin: 150px;
    box-shadow: 0px 0px 55px 1px black;
    z-index: -2;
    position: fixed;
    height: 30px;
    width: 30px;
    background-color: #263335;
    border-radius: 50%;
    display: inline-block;
}



@keyframes opacity0-100 {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes margintop20-0 {
    from {
        margin-top: -5px;
    }

    to {
        margin-top: 4px;
    }
}

@keyframes movement
{
    from {
        margin-top: 5%;
    }

    to {
        margin-top: 20%;
    }

    from {
        margin-left: -15%;
    }

    to {
        margin-left: 100%;
    }


    from {
        box-shadow: 0px 0px 55px 1px #b2cbe1;
    }

    to {
        box-shadow: 0px 0px 25px 1px #b2cbe1;
    }

    from
    {
            transform: rotate(0deg)
    }
    to {
        transform: rotate(90deg)
    }
}

@keyframes click {
    0% {
        height: 21px;
        width: 120px;
        border-radius: 60px;
        color: white;
    }

    50% {
        height: 21px;
        width: 140px;
        border-radius: 200px;
        color: black;
        font-size: 18px;
        background-color: #bdf9ff;
        
    }



    100% {
        height: 21px;
        width: 120px;
        border-radius: 60px;
        color: white;
    }
}

@keyframes scared {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(5deg);
    }

    50% {
        transform: rotateZ(00deg);
    }

    75% {
        transform: rotateZ(-5deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

