body
{
    background-color: #0d0d0d;
    font-family:Consolas;
    color: white;

}
a
{
    color: white;
}
.nav {
    background-color: #0a0a0a;
    box-shadow: 0px 0px 30px #151515;
    height: 75px;
    margin-top: -22px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 100;
    margin-left: -8px;
}
.navT {
    font-size:20px;
    margin-left: 20px;
    margin-top: 30px;
 
}

.End {
    position: absolute;
    color: white;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 10px #0a0a0a;
    margin-left: -8px;
    align-content: center;
    justify-content: center;
    display: flex;
    transition: background-color 2s;
    background-color: #0a0a0a;
}
.main {
    text-align: center;
    text-shadow: 0px 0px 5px gray;
    font-size: 50px;
    transition: color 0.3s, font-size 0.4s, text-shadow 0.5s;
}

.Box1 {
    position: absolute;
    color:white;
    width: 100%;
    box-shadow: 0px 0px 10px #2e2e2e;
    margin-left: -8px;
    display: flex;
    transition: background-color 2s;
    background-color: #2e2e2e;
}
.SWORD
{

    margin: 0 auto;
    width:500px;
    font-size:10px;
}
.Sponge {
    margin: 0 auto;
    font-size: 10px;
}
.lc {
    margin: 0 auto;
    font-size: 10px;
}
a
{
    font-size:15px;
}
.main2 {
    margin: 0 auto;
    text-align:center;
    display: block;
    text-shadow: 0px 0px 2px gray;
    font-size: 10px;
    
}
.Site {
    animation: start  0.5s;

}
.Box1:hover {
    background-color: #5c5c5c;
}
.border {
    box-shadow: 0px 0px 10px 1px #5c5c5c;
    background-color: #5c5c5c;
    width: 120px;
    border-radius:44px 1px;
    margin: 0 auto;
}
.main:hover
{
    text-shadow: 0px 0px 10px #bdf9ff;
    font-size: 52.5px;
    color: #6aedff;


    
}

.img1 {
    height: 300px;
    height: 300px;
    margin-left: -16.5px;
    border-radius: 33px 33px;
    box-shadow: 0px 0px 10px 0px #111111;
    transition: width 0.3s, margin-left 0.3s, height 0.3s;
}

.img2 {
    width: 550px;
    height: 300px;
    border-radius: 33px 33px;
    box-shadow: 0px 0px 10px 0px #111111;
    transition: width 0.3s, margin-left 0.3s;
    border-radius: 33px 33px;
    box-shadow: 0px 0px 10px 0px #111111;
    transition: width 0.3s, margin-left 0.3s;
}
.img3 {
    width: 630px;
    height: 300px;
    border-radius: 33px 33px;
    box-shadow: 0px 0px 10px 0px #111111;
    transition: width 0.3s, margin-left 0.3s;
    border-radius: 33px 33px;
    box-shadow: 0px 0px 10px 0px #111111;
    transition: width 0.3s, margin-left 0.3s;
}
.home {
    margin-left: -5px;
    margin-top: 45px;
}
.text:hover {
    margin-left: -50px;
}
.box2 {
    position: absolute;
    color: white;
    width: 100%;
    height: 150px;
    box-shadow: 0px 0px 10px #2e2e2e;
    margin-left: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 2s;
    background-color: #2e2e2e;
}
.text {
    text-align: center;
    color: white;
    font-size: 40px;
    text-align: center;
    text-decoration: blink;
    text-shadow: 0px 0px 5px gray;
    animation: start ease-in-out 0.5s;
    transition: color 0.3s, font-size 0.4s, text-shadow 0.5s, margin-left 1.5s;
}
.navHome {
    width: 80%;
    height: 80px;
    font-size: 10px;
    margin-top: 10px;
    justify-content: flex-end;
    position:absolute;
    display:flex;
}

.img1:hover {
    margin-left: -100px;
}

.img2:hover {
    margin-left: -100px;
}
.img3:hover {
    margin-left: -100px;
}

@keyframes start
{
    from {opacity:0%}
    to {opacity:100%}

    from{margin-top: -20px}
    to {margin-top: 0px}

   
}

@keyframes maina {
    from {
        opacity: 0%
    }

    to {
        opacity: 100%
    }
}