* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: consolas;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.Main {
    max-width: 600px;
    width: 100%;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.calculations
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.results {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.results h1 {
    margin: 10px;
}

.inputNumber1, .inputNumber2, .inputNumber3 {
    color: black;
    width: 100px;
    max-width: 200px; 
    border-radius: 20px;
    text-align: center;
    height: 25px;
    box-shadow: 0px 0px 5px 0px black;
    border-color: transparent;
}

.i1::before {
    content: "Wartość Argumentu B";
    color: black;
    font-weight: bold;
    font-size:  20px;
    margin-bottom: 5px;
}
.i2::before
{
    content: "Wartość Argumentu A";
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
.i3::before  {
    content: "Wartość Argumentu C";
    color: black;
    font-weight: bold;
    font-size:20px;
    margin-bottom: 5px;
}
.bttn
{
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    border-color: transparent;
    box-shadow: 0px 0px 5px 0px black;
    font-size: 15px;
}

@keyframes anim {
    0% {
        height: 30px;
        width: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 0px black;
        font-size: 15px;
        color: black;
    }

    50% {
        height: 40px;
        width: 350px;
        border-radius: 50px;
        box-shadow: 0px 0px 20px 0px black;
        font-size: 20px;
        color: red;
        background-color: #f87f7f;
        opacity: 100%;
    }

    100% {
        height: 30px;
        width: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 0px black;
        font-size: 15px;
        color: black;
        opacity: 100%;
    }
}
a{
    color:black;

}
a::before
{
    content: "LINK DO SCHEMATU BLOKOWEGO ->  ";
    color:RED;
}

@keyframes form {
    0% {
        color:black;
    }

    50% {
        font-size: 15px;
    }

    100% {
        color:black;
    }
}